.Block {
    display: flex;
    justify-content: center;
}

.Block_Wrapper {
    /*display: flex;*/
    /*align-items: center;*/
}

.ttt {
    font-family: Inter, sans-serif;
    font-weight: Bold;
    font-size: 100px;
    color: #1f1f1f;
}
