
.WrapperCard {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    padding-bottom: 12px;

    font-family: Inter, sans-serif;
    font-size: 24px;
    line-height: 58px;
    font-weight: 800;
}

.CardBody {
    width: 1000px;
    height: 240px;
    color: black;
    border-radius: 20px;
    background-image: url("../public/images/1.png");
    background-color: white;
    box-shadow: 0 4px 18px 1px rgba(47, 94, 82, 0.12);
}

.CardBody3 {
    width: 1000px;
    height: 240px;
    color: black;
    border-radius: 20px;
    background-image: url("../public/images/4.png");
    background-color: white;
    box-shadow: 0 4px 18px 1px rgba(47, 94, 82, 0.12);
}

.CardBody4 {
    width: 1000px;
    height: 240px;
    color: black;
    border-radius: 20px;
    background-image: url("../public/images/2.png");
    background-color: white;
    box-shadow: 0 4px 18px 1px rgba(47, 94, 82, 0.12);
}
.CardBody2 {
    width: 1000px;
    height: 240px;
    color: black;
    border-radius: 20px;
    background-image: url("../public/images/3.png");
    background-color: white;
    box-shadow: 0 4px 18px 1px rgba(47, 94, 82, 0.12);
}

.CardContent {
    margin: 24px;
}
